body{
	background-color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
    color: #000000;
    
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}



/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.logo img {
    width: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #060606;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}

.reservas-button {
    background-color: #066c85;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.reservas-button:hover {
    background-color: #004d63; 
    color: #f0f0f0; 
}

/* Cuerpo */ 
/* Contenedor principal */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título de las promociones */
.title h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}

/* Contenedor de las promociones */
.promociones {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Cada tarjeta de promoción */
.promocion {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 350px;
}

/* Efecto hover */
.promocion:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen dentro de la tarjeta */
.promocion-imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Título de la promoción */
.promocion h2 {
    font-size: 22px;
    color: #004d63;
    margin-bottom: 10px;
    
}

/* Descripción y código */
.promocion p {
    font-size: 16px;
    color: #555;
}

/* Estilos para el texto en negrita */
.promocion strong {
    font-weight: bold;
    color: #004d63;
}



/* Estilos generales para el footer */
footer {
    background-color: #f4ecec; /* Fondo del footer */
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #333;
}

.footer-links {
    display: flex;
    gap: 50px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333; 
    transition: color 0.3s ease, text-decoration 0.3s ease;
}


.footer-links h4:hover {
    color: #004d63; 
    text-decoration: underline; 
}

.footer-links p a {
    color: #333; 
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}


.footer-links p a:hover {
    color: #004d63; 
    text-decoration: underline; 
}

.redes-sociales a {
    text-decoration: none; 
}

.redes-sociales img {
    width: 30px;
    transition: filter 0.3s ease; 
}

.redes-sociales img:hover {
    filter: invert(47%) sepia(20%) saturate(2829%) hue-rotate(153deg) brightness(94%) contrast(88%);
}

